* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, #def0ee, #9ed6d7);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #4e696a9b;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #d1645d;
  text-align: center;
  text-shadow: 1px 1px 0px #66302c;
}

h2 {
  color: #025959;
}

p {
  text-align: justify;
}

