.marilu{
    border-radius: 50px;
    box-shadow: 1px 1px 15px rgb(95, 1, 100);
    max-width: 150px;
    transition: 150ms;
}
.Social{
    border-radius: 50%;
    box-shadow: 1px 1px 15px rgba(83, 9, 117, 0.726);
}
.lorem{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(207, 186, 245);
}
.marilu:hover{
    border-radius: 25px;
    transform: scale(1.05);
}
.redes{
    color: rgb(43, 1, 85);
    font-family: Arial, Helvetica, sans-serif;
}